# dependencies
node_modules/

# output
out/
dist/
*.tgz

# coverage
coverage/
*.lcov

# logs
logs/
_.log
report.[0-9]_[0-9]_[0-9]_[0-9].json

# dotenv — .env.example versioned, .env .gitignored
.env.example
!.env.local
!.env.development
!.env.test
!.env.production

# caches
.eslintcache
.cache
.tsbuildinfo

# IDEs
.idea/

# Finder
.DS_Store/
